@model StartApp.Models.AffiliateView
@using StartApp.Business

<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title" style="background-color:#333"> <strong>MENÜ</strong> <span><i style="color:#fff" class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul class="stpr-mobile-menu">
                <li> <a class="waves-effect waves-light" href="~/Affiliate/SupportList"><i class="ti-email"></i> <span > Destek </span></a></li>
                <li> <a class="waves-effect waves-light" href="~/Affiliate/SearchingPage"><i class="ti-search"></i> <span> Arama </span></a></li>
                <li> <a class="waves-effect waves-light" href="~/Affiliate/Customer"><i class="ti-user"></i> <span> Bilgilerim </span></a></li>
                <li><a  class="waves-effect waves-light" href="~/Affiliate/Exit"><i class="fa fa-power-off"></i> Çıkış</a></li>
            </ul> <br />
            <ul class="stpr-mobile-menu">
                <li> <a href="~/Affiliate/CategoryList"><i class="fa fa-caret-right"></i> Kategoriler</a></li>
                <li> <a class="waves-effect waves-light" href="~/Affiliate/Products"><i class="ti-list"></i> <span>Tüm Ürünler </span></a></li>
                <li> <a class="waves-effect waves-light" href="~/Affiliate/Orders"><i class="fa fa-file-text-o"></i> <span> Siparişlerim </span></a></li>
                <li> <a class="waves-effect waves-light" href="~/Affiliate/Payments"><i class="ti-credit-card"></i> <span> Ödemeler </span></a></li>
            </ul>
        </div>
    </div>
</div>
