@model StartApp.Models.ResellerView
@using StartApp.Models
@using StartApp.Business
 @{
     cCategories Categories = new cCategories();
     Model.Categories = Categories.List().OrderBy(x=>x.Name).ToList();
     List<Categories> DekorasyonList = Model.Categories.Where(x=>x.MainCategoryID == 33).Take(7).ToList();
     List<Categories> EvGerecleriList = Model.Categories.Where(x => x.MainCategoryID == 39).Take(7).ToList();
     List<Categories> MutfakList = Model.Categories.Where(x => x.MainCategoryID == 43).Take(7).ToList();
     List<Categories> PlastikList = Model.Categories.Where(x => x.MainCategoryID == 48).Take(7).ToList();

 }
<li class="mega-dropdown pull-right">
    <a class="dropdown-toggle waves-effect waves-light" style="font-size:13pt;" data-toggle="dropdown" href="#"><span class="hidden-xs"><b> <i class="ti-layout-grid2-alt"></i> KATEGORİLER </b></span></a>
    <ul class="dropdown-menu mega-dropdown-menu animated bounceInDown">
        <li class="col-sm-3">
            <ul>
                <li class="dropdown-header">Dekorasyon</li>
                @foreach (var item in DekorasyonList)
                {
                        <li> <a href="~/Reseller/Category?ID=@item.ID">@item.Name</a> </li>
                }
                <li> <a href="~/Reseller/CategoryList"><strong> Tümü Kategoriler </strong></a> </li>
            </ul>
        </li>
        <li class="col-sm-3">
            <ul>
                <li class="dropdown-header">Ev Gereçleri</li>
                @foreach (var item in EvGerecleriList)
                {
                    <li> <a href="~/Reseller/Category?ID=@item.ID">@item.Name</a> </li>

                }
                <li> <a href="~/Reseller/CategoryList"><strong> Tümü Kategoriler </strong></a> </li>
            </ul>
        </li>
        <li class="col-sm-3">
            <ul>
                <li class="dropdown-header">Mutfak</li>
                @foreach (var item in MutfakList)
                {

                    <li> <a href="~/Reseller/Category?ID=@item.ID">@item.Name</a> </li>

                }
                <li> <a href="~/Reseller/CategoryList"><strong> Tümü Kategoriler </strong></a> </li>
            </ul>
        </li>
        <li class="col-sm-3">
            <ul>
                <li class="dropdown-header">Plastik</li>
                @foreach (var item in PlastikList)
                {

                    <li> <a href="~/Reseller/Category?ID=@item.ID">@item.Name</a> </li>

                }
                <li> <a href="~/Reseller/CategoryList"><strong> Tümü Kategoriler </strong></a> </li>
            </ul>
        </li>
    </ul>
</li>
