
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li class="user-pro">
                <a href="#" class="waves-effect">
                    <img src="~/Assets/reseller/images/d1.png" alt="user-img" class="img-circle"> <span class="hide-menu">@ViewBag.UserName<span class="fa arrow"></span></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="~/Reseller/Customer"><i class="ti-user"></i> Bilgilerim</a></li>
                    <li><a href="~/Reseller/SupportList"><i class="ti-email"></i> Destek</a></li>
                    <li><a href="~/Reseller/Exit"><i class="fa fa-power-off"></i> Çıkış</a></li>
                </ul>
            </li>
            <li>
                <a href="~/Reseller" class="waves-effect">
                    <i class="fa fa-dashboard"></i> <span class="hide-menu">Panel </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/NewProducts" class="waves-effect">
                    <i class="fa fa-star"></i> <span class="hide-menu">Yeni Ürünler </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/Orders" class="waves-effect">
                    <i class="fa fa-list"></i> <span class="hide-menu">Siparişler </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/Payments" class="waves-effect">
                    <i class="fa fa-credit-card"></i> <span class="hide-menu">Ödemeler </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/EntegrationSetup" class="waves-effect">
                    <i class="fa fa-gears"></i> <span class="hide-menu">XML Entegrasyon </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/Settings" class="waves-effect">
                    <i class="fa fa-pencil-square"></i> <span class="hide-menu">Tercihler </span>
                </a>
            </li>
        </ul>
    </div>
</div>