@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Çıkış Yapılıyor.</title>
</head>
<body>
    <div> 
        <p>Çıkış Yapılıyor.</p>
    </div>
</body>
</html>
