
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="parallax-section parallax-fx parallax-image-aboutus parallaxOffset no-padding">
    <div class="w100 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix animated ">
                        <h1 class="x2large">
                            TEKNECİ
                        </h1>
                        <h5 class="parallaxSubtitle">
                          @StartApp.Language.Text.NowIsTheTimeToEnjoy
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.parallax -->

<div class="container main-container">

    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
                        <span>
                            EN İYİ, EN YENİ
                        </span>
                    </h1>

                    <p class="lead text-center">
                        PASLANMAZ MUTFAK EŞYASI SEKTÖRÜNDE 30 YILLIK DENEYİMİYLE TEKNECİ MADENİ EŞYA , HER GEÇEN ZAMAN DİLİMİNDE KENDİ BRANŞINDA PAZARDA MEVCUT OLAN KONUMUNU DAHA GENİŞ BİR ALANA YAYMAYI BAŞARDI. 30 YIL İÇERİSİNDE TEKNECİ MADENİ EŞYA’ DA BİR ÇOK ŞEY DEĞİŞTİ.DEĞİŞMEYEN TEK ŞEY,DAHA İYİYİ, DAHA YENİYİ , DAHA GÜZELİ ÜRETME POLİTİKASIYDI. TEKNECİ MADENİ EŞYA ,İHRACAT İLİŞKİLERİNDE DE İYİ ADIMLARLA İLERLEMEKTEDİR. TEKNECİ MADENİ EŞYA, İÇİN 30 YILLIKBAŞARI ÖYKÜSÜ ALTINDAYATAN GERÇEK DEĞİŞMEZ KALİTEDİR.
                    </p>
                    <p class="lead text-center">
                        FİRMAMIZ 2500 M2 KENDİMİZE AİT FABRİKAMIZDA ÜRETİM YAPMAKTADIR.FİRMAMIZ SEKTÖRDE MARKA OLMUŞ FİRMALARA DA FASON ÜRÜN YAPMAKTADIR.ÜRETİMİMİZ HER ÇEŞİT PASLANMAZ MUTFAK EŞYASI ÜRETME KAPASİTESİNDEDİR.ANCAK ŞU AN İÇİN SERİ OLARAK CEZVE TAKIMI,BAHARAT TAKIMI VE ÇAYDANLIK ÜRETMEKTEDİR. ÜRETİMLERİMİZ 1. SINIF 304 PASLANMAZ ÇELİK MALZEMELERDENDİR.
                    </p>
                    <h1 class="title-big text-center section-title-style2">
                        <span>
                            BEST,MOST RECENT
                        </span>
                    </h1>
                    <p class="lead text-center">
                        TEKNECİ MADENİ EŞYA HAS BEEN ESTABLİSHED İN 1980 AND WE HAVE PRODUCTİON EXPERİENCE MORE THAN 30 YEARS.DURİNG PAST YEARS WE DEVELOPED MANY NEW İTEMS AND MODELS SO THAT WE BECAME THE LEADER OF OUR BRANCH. DURİNG PAST YEARS WE HAVE CHANGED A LOT OF MACHİNES AND THE MARKET HAS BEEN CHANGED A LOT OF TOO BUT ONLY OUR PRODUCTİON AND COMPANY STRATEGY WAS NOT HAS CHANGED , İT İS PRODUCE THE BEST , MAKE İNNOVATİON, GİVE COMPETETİVE PRİCE. OUR SUCCESS BASED ON OUR STRATEGYAND OUR QUALİTY. OUR PRODUCTİON FACİLİTİES ARE LAST TECHNOLOGY MACHİNES AND WE HAVE 2500 M2 CLOSED AREA FACTORY. TEKNECİ MADENİ EŞYA İS ALWAYS BECAME THEBESTCHOİCE OF WELL KNOWN BRANDS FOR SUBCONCTRACT PRODUCTION.
                   </p>
                    <p class="lead text-center">
                        OUR FACILITIES BASED ON PRODUCTİON OF ANY TYPE COOKWARE İTEMS NOT ONLY COFFEE POTS SO THİS GİVES US MORE CHANCE İN ORDER TOSERVE OUR CUSTOMERS BUT ACCORDİNG TO OUR CUSTOMERS DEMAND OUR SERİES PRODUCTİON MAİNLY BASED ON COFFEE POT,SPİCE POT, MİLK POT AND TEAPOTS PRESENTLY
                    </p>
              </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->
