
@{
    ViewBag.Title = "BankWire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
                        <span>
                            BANKA BİLGİLERİ
                        </span>
                    </h1>
                    <hr />
                    <h3> İŞ BANKASI</h3>
                    <p class="lead"> 
                        <b>Şube:</b> Hazırlanıyor..<br />
                        <b>Hesap No:</b> Hazırlanıyor..<br />
                        <b>IBAN:</b> Hazırlanıyor..<br />
                        <b>Hesap Sahibi:</b> Hazırlanıyor..<br />
                     </p>
                    <hr />
                    <h3> GARANTİ BANKASI</h3>
                    <p class="lead">
                        <b>Şube:</b> Hazırlanıyor..<br />
                        <b>Hesap No:</b> Hazırlanıyor..<br />
                        <b>IBAN:</b> Hazırlanıyor..<br />
                        <b>Hesap Sahibi:</b> Hazırlanıyor..<br />
                    </p>
                    <hr />
                    <h3> AKBANK BANK</h3>
                    <p class="lead">
                        <b>Şube:</b> Hazırlanıyor..<br />
                        <b>Hesap No:</b> Hazırlanıyor..<br />
                        <b>IBAN:</b> Hazırlanıyor..<br />
                        <b>Hesap Sahibi:</b> Hazırlanıyor..<br />
                    </p>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>

