
@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="title-big text-center section-title-style2">
                        <span>
                            BELGELER
                        </span>
                    </h1>

                    <p class="lead text-center">
                        Bu sayfaya kalite ve marka tescil gibi belgeler eklenbilir. Bu sayfaya kalite ve marka tescil gibi belgeler eklenbilir. Bu sayfaya kalite ve marka tescil gibi belgeler eklenbilir.
                        Bu sayfaya kalite ve marka tescil gibi belgeler eklenbilir. Bu sayfaya kalite ve marka tescil gibi belgeler eklenbilir.
                    </p>
                    <p class="lead text-center">
                        Buraya firma hakkında bilgiler yazılacak. Buraya firma hakkında bilgiler yazılacak. Buraya firma hakkında bilgiler yazılacak.Buraya firma hakkında bilgiler yazılacak.
                        Buraya firma hakkında bilgiler yazılacak. Buraya firma hakkında bilgiler yazılacak. Buraya firma hakkında bilgiler yazılacak.Buraya firma hakkında bilgiler yazılacak.
                    </p>
                </div>
            </div>
            <!--/row end-->
        </div>
    </div>
    <!--/.innerPage-->
    <div style="clear:both"></div>
</div>

