
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toptancı Kayıt</title>
    <link rel="icon" type="~/Assets/reseller/image/png" sizes="32x32" href="~/Assets/reseller/plugins/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/reseller/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/reseller/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- This is Sidebar menu CSS -->
    <link href="~/Assets/reseller/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- This is a Animation CSS -->
    <link href="~/Assets/reseller/css/animate.css" rel="stylesheet">
    <!-- This is a Custom CSS -->
    <link href="~/Assets/reseller/css/style.css" rel="stylesheet">

    <link href="~/Assets/reseller/plugins/bower_components/owl.carousel/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/reseller/plugins/bower_components/owl.carousel/owl.theme.default.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:#ebeff3">

      <div style="background-color:#01c0c8;padding:15px;" class="row">
          <div class="center-block" align="center">
              <a href="~/" align="center">
                  <img src="~/Assets/reseller/images/logo.png" />
              </a>
          </div>
      </div>
    <div class="row"  style="padding:30px;">
        <div class="center-block">
            <p style="color:#000; text-align:center; font-size:14pt; font-weight:bold;">Türkye'nin en çok toptan ürün aranan pazaryerine katılın.</p>
        </div>
    </div>
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"> TOPTANCI BAŞVURU FORMU</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <form action="#" class="form-horizontal form-bordered">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Firma Ünvanı</label>
                                        <div class="col-md-9">
                                            <input type="text" placeholder="small" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Yetkili Ad</label>
                                        <div class="col-md-9">
                                            <input type="text" placeholder="medium" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Yetkili Soyad</label>
                                        <div class="col-md-9">
                                            <input type="text" placeholder="medium" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                                                    <button type="button" class="btn btn-default">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</body>

 <!-- Bootstrap Core JavaScript -->
<script src="~/Assets/reseller/bootstrap/dist/js/tether.min.js"></script>
<script src="~/Assets/reseller/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Assets/reseller/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
<!-- Sidebar menu plugin JavaScript -->
<script src="~/Assets/reseller/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--Slimscroll JavaScript For custom scroll-->
<script src="~/Assets/reseller/js/jquery.slimscroll.js"></script>

<link href="~/Assets/reseller/css/animate.css" rel="stylesheet">
<!--Wave Effects -->
<script src="~/Assets/reseller/js/waves.js"></script>
<script src="~/Assets/reseller/plugins/bower_components/owl.carousel/owl.carousel.min.js"></script>
<script src="~/Assets/reseller/plugins/bower_components/owl.carousel/owl.custom.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Assets/reseller/js/custom.min.js"></script>
<script src="~/Assets/reseller/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</html>
