<div class="m-b-10 stpr-promo-banner hidden-xs">
    <a href="~/@Request.Cookies["Language"].Value.ToLower()/markalar/promostar/2736">
        <img class="stpr-promo-banner" src="~/Assets/home/images/banner/banner_promostar.jpg" />
    </a>
</div>
