
<div class="navbar-default sidebar" role="navigation" style="height:400px;">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li>
                <a href="~/Reseller" class="waves-effect">
                    <i class="fa fa-filter"></i> <span class="hide-menu"> Filtrele </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/NewProducts" class="waves-effect">
                    <i class="fa fa-star"></i> <span class="hide-menu">Yeni Ürünler </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/Orders" class="waves-effect">
                    <i class="fa fa-list"></i> <span class="hide-menu">Siparişler </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/Payments" class="waves-effect">
                    <i class="fa fa-credit-card"></i> <span class="hide-menu">Ödemeler </span>
                </a>
            </li>
            <li>
                <a href="~/Reseller/Settings" class="waves-effect">
                    <i class="fa fa-gears"></i> <span class="hide-menu">Tercihler </span>
                </a>
            </li>
        </ul>
    </div>
</div>
