<div class="white-box hidden-xs">
    <div class="col-md-2 stpr-banner-category"><a href="~/@Request.Cookies["Language"].Value.ToLower()/category/altili-fincanlar-51"> <img src="~/Assets/home/images/ctgry_banner_fincan.png" /> </a> </div>
    <div class="col-md-2 stpr-banner-category"><a href="~/@Request.Cookies["Language"].Value.ToLower()/category/bambu-5036">  <img src="~/Assets/home/images/ctgry_banner_bambu.png" /> </a> </div>
    <div class="col-md-2 stpr-banner-category"><a href="~/@Request.Cookies["Language"].Value.ToLower()/category/bardaklar-1057">  <img src="~/Assets/home/images/ctgry_banner_bardak.png" /> </a> </div>
    <div class="col-md-2 stpr-banner-category"><a href="~/@Request.Cookies["Language"].Value.ToLower()/category/mumluk-1056">  <img src="~/Assets/home/images/ctgry_banner_mumluk.png" /> </a></div>
    <div class="col-md-2 stpr-banner-category"><a href="~/@Request.Cookies["Language"].Value.ToLower()/category/dekoratif-figur-biblolar-35">  <img src="~/Assets/home/images/ctgry_banner_biblolar.png" /> </a></div>
    <div class="col-md-2"> <a href="~/@Request.Cookies["Language"].Value.ToLower()/tum-kategoriler" class="btn btn-warning" style="color:#000; margin-top:12px; font-weight:600"> @StartApp.Language.Text.AllCategories <i class="fa fa-caret-right"></i></a></div>
    <div class="clearfix"></div>
</div>
