<div class="row el-element-overlay m-t-30 m-b-30">  <!-- /.usercard -->
    <div class="col-md-12">
        <h2 align="center"><strong>Satış Ortağımız Olmak İster Misiniz?</strong> <br><small> Satışa açık ürünleri sosyal medya sayfanızda veya sitenizde satarak sizde kazanabilirsiniz</small></h2>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="~/Assets/home/affiliate/instagram-saller.jpg">
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline" href="~/@Request.Cookies["Language"].Value.ToLower()/home/registeraffiliate"><i class="fa fa-check"></i> Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Instagram</h3> <small>Satış Ortaklığımız Olun</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="~/Assets/home/affiliate/facebook-saller.jpg">
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline" href="~/@Request.Cookies["Language"].Value.ToLower()/home/registeraffiliate"><i class="fa fa-check"></i> Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">FACEBOOK</h3> <small>Satış Ortaklığımız Olun</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="~/Assets/home/affiliate/twitter-saller.jpg">
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline" href="~/@Request.Cookies["Language"].Value.ToLower()/home/registeraffiliate"><i class="fa fa-check"></i> Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">TWITTER</h3> <small>Satış Ortaklığımız Olun</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
    <!-- /.usercard -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="white-box">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="~/Assets/home/affiliate/website-saller.jpg">
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline" href="~/@Request.Cookies["Language"].Value.ToLower()/home/registeraffiliate"><i class="fa fa-check"></i> Kayıt Ol</a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Web Sitesi</h3> <small>Satış Ortaklığımız Olun</small>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- /.usercard-->
</div>
