<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title" style="background-color:#333"> <strong>MENÜ</strong> <span><i style="color:#fff" class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul class="stpr-mobile-menu">
                <li><a href="~/Home/Change?LanguageAbbrevation=tr"><i class="fa fa-globe" style="color:#f24646;" ></i> Türkçe</a></li>
                <li><a href="~/Home/Change?LanguageAbbrevation=en"><i class="fa fa-globe" style="color:#3c7698;"></i> English</a></li>
            </ul>
                <h4><b>Hesap</b></h4>
                <ul class="stpr-mobile-menu">
                    <li> <a href="~/reseller"><i class="ti-lock"></i> Giriş</a></li>
                    <li> <a href="~/reseller/cartList"><i class="ti-shopping-cart"></i> Sepet</a></li>
                </ul>
                <br />
                <h4><b>Ürünler</b></h4>
                <ul class="stpr-mobile-menu">
                    <li> <a href="~/"><i class="fa fa-home"></i> Anasayfa</a></li>
                    <li> <a href="~/markalar"><i class="fa fa-caret-right"></i> Markalar</a></li>
                    <li> <a href="~/dekorasyon-33"><i class="fa fa-caret-right"></i> Dekorasyon</a></li>
                    <li> <a href="~/ev-gerecleri-39"><i class="fa fa-caret-right"></i> Ev Gereçleri</a></li>
                    <li> <a href="~/mutfak-43"><i class="fa fa-caret-right"></i> Mutfak Ürünleri</a></li>
                    <li> <a href="~/plastik-48"><i class="fa fa-caret-right"></i> Plastik Ürünleri</a></li>
                    <li> <a href="~/fincan-49"><i class="fa fa-caret-right"></i> Fincan Takımları</a></li>
                    <li> <a href="~/tum-kategoriler"><i class="fa fa-caret-right"></i> Tüm Kategoriler</a></li>
                </ul>
</div>
    </div>
</div>
