<div class="row">
    <div class="col-lg-12 stpr-bussines-register-banner">
     <div class="col-md-6">
         <span class="pull-left"><i class="fa fa-building"></i> <b> Kayıt Yapın</b></span><br />
         <span style="font-size:13pt;font-weight:500;" class="pull-left">Yüzlerce markanın binlerce toptan ürünlerine erişin.</span>
     </div>
        <div class="col-md-6">
            <a href="~/@Request.Cookies["Language"].Value.ToLower()/kurumsal-kayit" style="background-color:#000;color:#ffc926;margin-top:15px;border:#000;font-size:16pt;" class="btn btn-default pull-right"><i class="fa fa-check"></i> Kayıt Yap</a>
        </div>
</div>
  </div>
