
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Topran ara bayi paneli">

    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/reseller/plugins/images/favicon.png">
    <title>Satıcı Portalı</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/reseller/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/reseller/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Assets/reseller/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Assets/reseller/css/style.min.css" rel="stylesheet">

    <!-- color CSS -->
    <link href="~/Assets/reseller/css/colors/megna.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <style>
        html {
            background: url(../Assets/reseller/plugins/images/login-affiliate.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>


<body>
    @using (Html.BeginForm())
    {
        <!-- Preloader -->
        <div class="preloader">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <section id="wrapper" class="login-register">
            <div class="login-box login-sidebar" style="background-color:#222;color:#fff!important;">
                <div class="white-box" style="background-color:#222">
                    <form class="form-horizontal form-material" id="loginform">
                        <a href="/" class="text-center db">
                            <img src="~/Assets/reseller/images/logo.png" alt="Home" />
                        </a>
                        <div class="form-group m-t-5">
                            <div class="col-xs-12">
                                <h4 style="color:#ddd; text-align:center;">  Satış Ortaklığı Paneli</h4>
                            </div>
                        </div>
                        <div class="form-group m-t-10">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" name="AffiliateCode" required="" placeholder="Satıcı Kodunuz..">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="Password" required="" placeholder="Parolanız..">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Giriş Yap</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <p>Satıcı kaydınız yok mu?<a href="/satis-ortakligi-kayit" class="text-primary m-l-5"><b>Hesap Oluştur</b></a></p>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal" id="recoverform" action="#">
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="text" required="" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sıfırla</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    }
    <!-- jQuery -->
    <script src="~/Assets/reseller/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/reseller/bootstrap/dist/js/tether.min.js"></script>
    <script src="~/Assets/reseller/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/reseller/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Assets/reseller/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Assets/reseller/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Assets/reseller/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Assets/reseller/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/Assets/reseller/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
