<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="iso-8859-9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->

    <link rel="shortcut icon" href="~/assets/ico/favicon.png">
    <title>Tekneci - Şimdi Keyif Zamanı </title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- styles needed by smoothproducts.js for product zoom  -->
    <link rel="stylesheet" href="~/assets/css/smoothproducts.css">
    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/~/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="~/~/https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- include pace script for automatic web page progress bar  -->


    <script>
        paceOptions = {
            elements: true
        };
    </script>

    <script src="~/assets/js/pace.min.js"></script>
</head>

<body>
    <!-- Fixed navbar start -->
    @Html.Partial("~/Views/Shared/_PartialNavbar.cshtml")
    <!-- /.Fixed navbar  -->
 
     
    @RenderBody()
         


    @Html.Partial("~/Views/Shared/_PartialFooter.cshtml")


    <script src="~/assets/js/jquery.min.js"></script>
    <!-- jquery-migrate only for product details -->
    <script src="~/assets/js/jquery-migrate-1.2.1.js"></script>

    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
    // this script required for subscribe modal
    $(window).load(function () {
        // full load
        $('#modalAds').modal('show');
        $('#modalAds').removeClass('hide');
    });

    </script>

    <!-- include jqueryCycle plugin -->
    <script src="~/assets/js/jquery.cycle2.min.js"></script>

    <!-- include easing plugin -->
    <script src="~/assets/js/jquery.easing.1.3.js"></script>

    <!-- include  parallax plugin -->
    <script type="text/javascript" src="~/assets/js/jquery.parallax-1.1.js"></script>

    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="~/assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

    <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

    <script type="text/javascript" src="~/assets/js/jquery.mCustomScrollbar.js"></script>

    <!-- include icheck plugin // customized checkboxes and radio buttons   -->
    <script type="text/javascript" src="~/assets/plugins/icheck-1.x/icheck.min.js"></script>

    <!-- include grid.js // for equal Div height  -->
    <script src="~/assets/js/grids.js"></script>

    <!-- include carousel slider plugin  -->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <!-- include smoothproducts // product zoom plugin  -->
    <script type="text/javascript" src="~/assets/js/smoothproducts-thumb.js"></script>

    <!-- jQuery select2 // custom select   -->
    <script src="~/assets/js/select2.min.js"></script>

    <!-- include touchspin.js // touch friendly input spinner component   -->
    <script src="~/assets/js/bootstrap.touchspin.js"></script>

    <!-- include custom script for only homepage  -->
    <script src="~/assets/js/home.js"></script>
    <!-- include custom script for site  -->
    <script src="~/assets/js/script.js"></script>

    <script src="~/assets/plugins/magnific/jquery.magnific-popup.min.js"></script>

    <script src="~/assets/plugins/rating/bootstrap-rating.min.js"></script>
    <script>
    $(function () {

        $('.rating-tooltip-manual').rating({
            extendSymbol: function () {
                var title;
                $(this).tooltip({
                    container: 'body',
                    placement: 'bottom',
                    trigger: 'manual',
                    title: function () {
                        return title;
                    }
                });
                $(this).on('rating.rateenter', function (e, rate) {
                    title = rate;
                    $(this).tooltip('show');
                })
                        .on('rating.rateleave', function () {
                            $(this).tooltip('hide');
                        });
            }
        });

    });
    </script>
</body>
</html>



