<div class="row subCategoryList clearfix">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
        <div class="thumbnail equalheight">
            <a class="subCategoryThumb" href="sub-category.html">
                <img src="~/images/product/3.jpg" class="img-rounded " alt="img">
            </a> <a class="subCategoryTitle"><span> T shirt </span></a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
        <div class="thumbnail equalheight">
            <a class="subCategoryThumb" href="sub-category.html">
                <img src="~/images/site/casual.jpg" class="img-rounded " alt="img">
            </a> <a class="subCategoryTitle"><span> Shirt </span></a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
        <div class="thumbnail equalheight">
            <a class="subCategoryThumb" href="sub-category.html">
                <img src="~/images/site/shoe.jpg" class="img-rounded " alt="img">
            </a> <a class="subCategoryTitle"><span> shoes </span></a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
        <div class="thumbnail equalheight">
            <a class="subCategoryThumb" href="sub-category.html">
                <img src="~/images/site/jewelry.jpg" class="img-rounded " alt="img">
            </a> <a class="subCategoryTitle"><span> Accessories </span></a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
        <div class="thumbnail equalheight">
            <a class="subCategoryThumb" href="sub-category.html">
                <img src="~/images/site/winter.jpg" class="img-rounded  " alt="img">
            </a> <a class="subCategoryTitle"><span> Winter Collection </span></a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center">
        <div class="thumbnail equalheight">
            <a class="subCategoryThumb" href="sub-category.html">
                <img src="~/images/site/Male-Fragrances.jpg" class="img-rounded " alt="img">
            </a> <a class="subCategoryTitle"><span> Fragrances </span></a>
        </div>
    </div>
</div>
<!--/.subCategoryList-->
