<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseThree"
               class="collapseWill active ">
                Discount <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Non-Discounted items
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Discounted items
                </label>
            </div>
        </div>
    </div>
</div>
<!--/discount  panel end-->
