<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseColor"
               class="collapseWill active ">
                Color <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapseColor" class="panel-collapse collapse in">
        <div class="panel-body smoothscroll maxheight300 color-filter">
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="0" />
                    <small style="background-color:#333333"></small>
                    Black <span>(123)</span>
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="1" />
                    <small style="background-color:#1664c4"></small>
                    Blue (434)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="2" />
                    <small style="background-color:#c00707"></small>
                    Red (338)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#6fcc14"></small>
                    Green (253)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#943f00"></small>
                    Brown (240)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#ff1cae"></small>
                    Pink (212)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#f5f5dc"></small>
                    Beige (176)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#adadad"></small>
                    Grey (154)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#5d00dc"></small>
                    Purple (132)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#f1f40e"></small>
                    Yellow (104)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#ffc600"></small>
                    Orange (77)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#9b1d00"></small>
                    Maroon (76)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#0a43a3"></small>
                    Navy Blue (68)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#ede4b2"></small>
                    Tan (67)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#ecf1ef"></small>
                    Silver (49)
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    <small style="background-color:#f3f1e7"></small>
                    Off White (44)
                </label>
            </div>
            <div class="block-element">
                <label> &nbsp; </label>
            </div>
        </div>
    </div>
</div>
<!--/color panel end-->
