<div class="parallax-section parallax-image-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">

                    <h2 class="uppercase">ÖN SİPARİŞ OLUŞTURMAK İÇİN TIKLAYIN</h2>

                    <div style="clear:both"></div>
                    <a href="~/siparis-olustur" class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> SİPARİŞ VER </a>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.parallax-image-1-->
