<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseBrand"
               class="collapseWill active ">
                Brand <span class="pull-left"> <i class="fa fa-caret-right"></i></span>
            </a>
        </h4>
    </div>
    <div id="collapseBrand" class="panel-collapse collapse in">
        <div class="panel-body smoothscroll maxheight300">
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="0" />
                    Armani
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="1" />
                    Gucci
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="2" />
                    Louis Vuitton
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Chanel
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Roberto Cavalli
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Valentino
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Ralph Lauren
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Miu Miu
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    McQueen
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    adidas
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Nike
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Jimmy Choo
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Bottega Veneta
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Donna Karan
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Oscar de la Renta
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Tods
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Burberry
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Michael Kors
                </label>
            </div>
            <div class="block-element">
                <label>
                    <input type="checkbox" name="tour" value="3" />
                    Mulberry
                </label>
            </div>
            <div class="block-element">
                <label> &nbsp; </label>
                <!-- keep it blank // -->
            </div>
        </div>
    </div>
</div>
<!--/brand panel end-->
