
@{
    ViewBag.Title = "Excel Yükleme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2><b>Marka</b> > Excel Dosyası Yükle</h2>
@if (ViewBag.Status != null)
            {
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <div class="alert alert-@ViewBag.Status" role="alert"> <i class="fa @ViewBag.Icon"></i> @ViewBag.Result</div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("ImportExcel", "AdminManufacturer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="col-lg-12">
        <p class="">Örnek Excel Dosyasını İndirin <a href="~/Assets/doc/Wholesaler.xlsx" target="_blank"><b>Wholesaler.xlsx</b> <small><i class="icmn-link ml-1"><!-- --></i></small></a></p>
        <div class="mb-5">
            <div class="dropify-wrapper">
                <div class="dropify-message">
                    <span class="file-icon"></span>
                    <p>Buraya bir dosya sürükleyip bırakın veya tıklayın</p><p class="dropify-error">Hata oluştu! Tekrar deneyiniz</p>
                </div><div class="dropify-loader" style="display: none;"></div><div class="dropify-errors-container">
                    <ul></ul>
                </div><input type="file" name="excelfile" class="dropify"><button type="button" class="dropify-clear">Kaldır</button>
                <div class="dropify-preview" style="display: none;">
                    <span class="dropify-render"></span>
                    <div class="dropify-infos">
                        <div class="dropify-infos-inner">
                            <p class="dropify-filename">
                                <span class="file-icon"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(ViewBag.Error)
    <input type="submit" class="btn btn-primary" value="Yüklemeyi Tamamla" />
}
